.container{
    display: flex;
    align-items: center;
    /* max-height: 50vh; */
}
.container>div>img{
    width: 60%;
}
form{
    display: grid;
    text-align: left;
    margin-top: 15px;
}
form p{
    margin-top: 10px;
}
form input{
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid rgb(255, 208, 0);
}
form button{
    background-color: rgb(0, 166, 255);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
}
form button:hover{
    background-color: rgb(3, 103, 156);
}
.back{
    cursor: pointer;
    text-align: center;
}
.back:hover{
    text-decoration: underline;
}